<h1>Professors:</h1>


<% @professors.alphabetical.each do |teacher| %>
<p>---------------------</p>
<p>Name: <%= teacher.name %>  </p>
<p>Age: <%= teacher.age %>  </p>
<p>Specialty: <%= teacher.specialty %>  </p>
<% end %>
